opencv-python-headless==4.5.5.64
Pillow>=10.0.0
numpy>=1.24.0
pandas>=2.0.0

paddlepaddle
paddleocr

# 🔴 PaddleOCR 3.x가 내부적으로 langchain 사용
langchain==0.0.354
langchain-community

streamlit


